POSTGRES_DB=robot_jobs
POSTGRES_USER=robot_user
POSTGRES_PASSWORD=robot_password
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/robot_jobs
SPRING_DATASOURCE_USERNAME=robot_user
SPRING_DATASOURCE_PASSWORD=robot_password
